<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
  <menu id="root-menu" label="Root Menu" >
    <item label=".~ Lara S2 Fê ~.       " />
    <separator />
<!-- BEGIN AUTOMENU -->
<!-- END AUTOMENU -->
    <separator/>
    <item label="Encerrar Sessão" icon="/usr/share/icons/ACYL_Icon_Theme_0.9.4/scalable/actions/gnome-logout.svg">
        <action name="Execute">
            <command>openbox --exit</command>
        </action>
    </item>
    <item label="Desligar" icon="/usr/share/icons/ACYL_Icon_Theme_0.9.4/scalable/apps/system-shutdown.svg">
        <action name="Execute">
            <command>sudo systemctl poweroff</command>
        </action>
    </item>
    <item label="Reiniciar" icon="/usr/share/icons/ACYL_Icon_Theme_0.9.4/scalable/apps/system-restart.svg">
        <action name="Execute">
            <command>sudo systemctl reboot</command>
        </action>
    </item>
</menu>
</openbox_menu>


