[Unit]
Description=Network Connectivity
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/ip addr flush web
ExecStartPre=/sbin/ip link set web up
ExecStart=/sbin/ip addr add 192.168.1.100/24 brd + dev web
ExecStart=/sbin/ip route add default via 192.168.1.1
ExecStop=/sbin/ip addr flush web
ExecStop=/sbin/ip link set web down

[Install]
WantedBy=multi-user.target
