[Unit]
Description=Network Connectivity
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/ip addr flush eth1
ExecStartPre=/sbin/ip link set eth1 up
ExecStart=/sbin/ip addr add 192.168.0.1/24 dev eth1
ExecStop=/sbin/ip addr flush eth1
ExecStop=/sbin/ip link set eth1 down

[Install]
WantedBy=multi-user.target
