[Unit]
Description=Network Connectivity
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip addr add 192.168.0.1/24 dev eth1
ExecStart=/sbin/ip link set eth1 up

[Install]
WantedBy=multi-user.target
