[Unit]
Description=Pacmandb
DefaultDependencies=no
Before=shutdown.target
After=remount-rootfs.service local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o loop,relatime,sync /var/lib/pacman.db /var/lib/pacman
ExecStop=/bin/umount /var/lib/pacman.db

[Install]
WantedBy=local-fs.target
