[Unit]
Description=Boot

[Mount]
What=/dec/disk/by-label/ext2boot
Where=/boot
Type=ext2
Options=noatime,nodiratime,commit=60,data=writeback,barrier=0
