"*":
  "atom-beautify":
    _analyticsUserId: "6cf124d8-3d0b-40e5-b574-160d1480a5e2"
    php_cs_fixer_path: "/usr/local/bin/php-cs-fixer"
    php_fixers: "-braces,-visibility"
    php_level: "psr2"
  "atom-css-comb":
    readyMadeConfigs: "csscomb"
  core:
    disabledPackages: [
      "symbols-view"
      "spell-check"
      "tree-view"
      "welcome"
      "autocomplete-python"
      "autocomplete-clang"
      "about"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "background-tips"
      "language-clojure"
      "language-csharp"
      "language-coffee-script"
      "language-go"
      "language-java"
      "language-hyperlink"
      "language-mustache"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "atom-ctags"
      "archive-view"
      "command-palette"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "metrics"
      "open-on-github"
    ]
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 72
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "97d2b161-e772-cfc8-379c-c632e4c83476"
  linter:
    errorPanelHeight: 140
  "linter-csslint":
    csslintExecutablePath: "/usr/bin/csslint"
  "linter-php": {}
  welcome:
    showOnStartup: false
".go.source":
  editor:
    preferredLineLength: 72
".gohtml.html.text":
  editor:
    preferredLineLength: 72
".gotemplate.source":
  editor:
    preferredLineLength: 72
