<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Openbox 3">
    <separator label="Aplicativos" />
    <menu id="root-menu-arquivos" label="Arquivos">
      <separator label="Arquivos" />
      <item label="SpaceFM">
        <action name="Execute">
          <execute>spacefm</execute>
        </action>
      </item>
      <item label="PcmanFM">
        <action name="Execute">
          <execute>pcmanfm</execute>
        </action>
      </item>
      <item label="Rox">
        <action name="Execute">
          <execute>rox</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-terminais" label="Terminais">
      <separator label="Terminais" />
      <item label="Terminal">
        <action name="Execute">
          <execute>terminal</execute>
        </action>
      </item>
      <item label="Urxvt">
        <action name="Execute">
          <execute>urxvt</execute>
        </action>
      </item>
      <item label="Xterm">
        <action name="Execute">
          <execute>xterm</execute>
        </action>
      </item>
      <item label="Aterm">
        <action name="Execute">
          <execute>aterm</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-desenvolvimento" label="Desenvolvimento">
      <separator label="Develop" />
      <item label="Diffuse">
        <action name="Execute">
          <execute>diffuse</execute>
        </action>
      </item>
      <item label="Meld">
        <action name="Execute">
          <execute>meld</execute>
        </action>
      </item>
      <item label="Geany">
        <action name="Execute">
          <execute>geany</execute>
        </action>
      </item>
      <item label="Glade">
        <action name="Execute">
          <execute>glade</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-internet" label="Internet">
      <separator label="Internet" />
      <item label="Deluge">
        <action name="Execute">
          <execute>deluge</execute>
        </action>
      </item>
      <item label="Skype">
        <action name="Execute">
          <execute>skype</execute>
        </action>
      </item>
      <item label="Emesene">
        <action name="Execute">
          <execute>emesene</execute>
        </action>
      </item>
      <item label="Firefox">
        <action name="Execute">
          <execute>firefox</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-imagem" label="Imagem">
      <separator label="Imagem" />
      <item label="ScreenGrab">
        <action name="Execute">
          <execute>screengrab</execute>
        </action>
      </item>
      <item label="Inkscape">
        <action name="Execute">
          <execute>inkscape</execute>
        </action>
      </item>
      <item label="Ristretto">
        <action name="Execute">
          <execute>ristretto</execute>
        </action>
      </item>
      <item label="Gimp">
        <action name="Execute">
          <execute>gimp</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-audio" label="Audio">
      <separator label="Audio" />
      <item label="GxTuner">
        <action name="Execute">
          <execute>gxtuner</execute>
        </action>
      </item>
      <item label="Rakarrack">
        <action name="Execute">
          <execute>rakarrack</execute>
        </action>
      </item>
      <item label="Qjackctl">
        <action name="Execute">
          <execute>qjackctl</execute>
        </action>
      </item>
      <item label="XfBurn">
        <action name="Execute">
          <execute>xfburn</execute>
        </action>
      </item>
      <item label="DeadBeef">
        <action name="Execute">
          <execute>deadbeef</execute>
        </action>
      </item>
      <item label="VLC">
        <action name="Execute">
          <execute>vlc</execute>
        </action>
      </item>
      <separator label="Configurações" />
      <item label="Equalizador">
        <action name="Execute">
          <execute>terminal -x alsamixer -D equal</execute>
        </action>
      </item>
      <item label="Mixer">
        <action name="Execute">
          <execute>terminal -x alsamixer</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-texto" label="Texto">
      <separator label="Texto" />
      <item label="Geany">
        <action name="Execute">
          <execute>geany</execute>
        </action>
      </item>
      <item label="ePDFView">
        <action name="Execute">
          <execute>epdfview</execute>
        </action>
      </item>
    </menu>
    <separator label="Sistema" />
    <item label="Configurações">
      <action name="Execute">
        <command>obconf</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <item label="Aparência">
      <action name="Execute">
        <execute>lxappearance</execute>
      </action>
    </item>
    <item label="Atalhos">
      <action name="Execute">
        <execute>obkey</execute>
      </action>
    </item>
    <item label="Menu">
      <action name="Execute">
        <execute>obmenu</execute>
      </action>
    </item>
    <item label="Fonte">
      <action name="Execute">
        <execute>xfontsel</execute>
      </action>
    </item>
    <item label="Recarregar">
      <action name="Reconfigure" />
    </item>
    <separator label="Operações" />
    <item label="Desligar">
      <action name="Execute">
        <execute>powerdialogs desligar</execute>
      </action>
    </item>
    <item label="Reiniciar">
      <action name="Execute">
        <execute>powerdialogs reiniciar</execute>
      </action>
    </item>
    <item label="Logoff">
      <action name="Exit" />
    </item>
    <item label="Modo de espera">
      <action name="Execute">
        <execute>powerdialogs espera</execute>
      </action>
    </item>
  </menu>
</openbox_menu>
