[Unit]
Description=Boot

[Mount]
What=/dev/disk/by-label/ext2boot
Where=/boot
Type=ext2
Options=noatime,nodiratime,user_xattr,barrier=0

[Install]
WantedBy=local-fs.target
