[Unit]
Description=Start X Session

[Service]
ExecStart=/bin/su lara -l -c /usr/bin/xinit -- VT08
Restart=on-failure
restartSec=2s

[Install]
Alias=display-manager.service
